@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100vh;
    width: 100%;
}

.header{
    display: flex;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #818181;
}

.left-side{
    display: flex;
    align-items: center;
    width: 700px;
    justify-content: space-evenly;
}

.left-side p{
    font-size: 24px;
    color: #818181;
}
.left-side .tm{
  text-decoration: none;
}
.left-side .tm:hover{
  text-decoration: underline;
  text-decoration-color: black; 
  text-decoration-style: 2px solid;
}
.sub { 
  font-weight: bold; 
  font-size: 16px;
  color: #818181;
  float: right;
}
.sidenav {
    height: 100%;
    max-height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0c3666;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.sidenav i{
    margin-right: 15px;
}

/* Style the sidenav links and the dropdown button */
.dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-bottom: 20px;
    border-top: 1px solid white;
    justify-content: space-evenly;
}

.dropdown-btn span {
    margin-left: -1px;
}
.fa-graduation-cap{margin-left: 15px;}
.fa-square-plus{margin-left: 15px;}
.fa-list-check{margin-left: 15px;}
  
  /* On mouse-over */
.dropdown-btn:hover {
    color: black;
    font-weight: 500;
}

.dropdown-container{
    display: none;
    background-color: white;
}

.dropdown-container .link2{
    color:black;
    left: 20px;
}

.dropdown-container .link2:hover{
    color: white;
    background-color: gray;
}

.link2 .fa-circle{ position: relative; top: -3px; font-size: 10px;}

.active {
    color: white;
    font-weight: 600;
}
  
/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
}
.sidenav .link-todo {
    border-bottom: 1px solid white;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
    margin-bottom: 20px;
}

.sidenav a:hover {
    color: black;
    font-weight: 500;
}
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
 }
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*body.sidebar-open .container2 {
    max-width: 850px;
    min-width: 600px;
    margin-left: 270px;
    justify-content: space-evenly;
}*/

body.sidebar-open .container2 > * {
  margin-left: 0;
}

.open {
    width: 250px; /* change this to the desired width when the sidebar is open */
}

#school-icon {
    color: #0c3666;
    font-size: 25px;
    margin-right: -25px; 
}

.right-side{
    display: flex;
    align-items: center;
    width: 200px;
    margin-left: auto;
    justify-content: space-evenly;
}
.right-side i{
    color: #0c3666;
    font-size: 25px;
    cursor: pointer;
}
.right-side button{
    border: none;
    background-color: white;
    transition: opacity 0.2s ease;
}
.right-side button:hover{
  opacity: 0.7;
}
/* create-subject eto hanggang duon bago sa may .card*/
form {
  height: 250px;
  width: 450px;
  margin: auto;
  background-color: #fff;
  border: 2px solid #0c3666;
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 20px 10px 20px 10px rgba(255,255,255,0.5);
}

.btn{
  border-radius: 30px;
  background: #0c3666;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 130px;
  height: 50px;
  margin-top: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.7;
}

.input-wrapper {
  --padding: 16px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding-top: 20px;
}
.input-wrapper-message{
  --padding: 16px;
  --focus-color: black;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding-top: 20px;
}
input {
  padding: var(--padding);
  border: 2px solid gray;
  outline: none;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
}

.placeholder {
  position: absolute;
  background-color: white;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
}

input:is(:focus, :valid) {
  border: 2px solid var(--focus-color);
}

input:is(:focus, :valid) + .placeholder {
  transform: translatey(calc(-1 * var(--padding) - 12px));
  font-size: 14px;
  color: var(--focus-color);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 350px;
  height: 200px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 10px 16px 16px 1px rgba(0,0,0,0.2);
}
.card .form a{
  width: 100px;
  height: 50px;
  width: 100%;
}
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.container {
  padding: 2px 16px;
  transition: all 0.3s ease-in-out;
  left: 0;
  position: relative;
  flex-grow: 1;
  flex-basis: 200;
  top: 100px;
}

.color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.fa-circle-arrow-right{
  font-size: 18px;
  margin-left: 280px;
  position: absolute;
  top: 50px;
  color: #0c3666;
  transition: all 100ms ease-in-out;
  cursor: pointer;
}
.fa-circle-arrow-right:hover{
  font-size: 25px;
}

/* class stream */
.fa-greater-than{
  font-size: 20px;
  color: #aaa;
}

.input-container .btn-2{
  border-radius: 35px;
  background: #0c3666;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 130px;
  height: 50px;
  margin-top: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
  padding-left: 30px; /* add some padding to the right of the input field */
  text-align: center;
  cursor: pointer;
}

.input-container .btn-2:hover{
  opacity: 0.7;
}

.input-container {
  position: relative;
  margin-left: 35%;
}

.input-container .fa-plus {
  position: absolute;
  left: 27px; /* adjust this value to position the icon horizontally */
  top: 55px; /* adjust this value to position the icon vertically */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
}

/*edit */
.body-section .form{
  height: 450px;
}
.card .btn{
  background-color: transparent;
  font-size: 10px;
  margin-left: 230px;
  margin-top: -4px;
  cursor: pointer;
  color: red;
  width: 100px;
  height: 100%;
}
.card .btn:hover{
  text-decoration: underline;
}

/*uploadinga*/
.head{
  width: 100%;
  background-color: #0c3666;
  margin-top: -10px;
}
.head h3, .head i{
  color: #fff;
  height: 30px;
}
.head h3{
  width: 100%;
  margin-left: 50px;
  margin-top: -30px;  
}
.head i{
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}
.upload form{
  height: 100%;
}
.upload form .select{
  margin-left: 10px;
}
.upload .subject{
  margin-top: 20px;
  margin-left: -100px;
}
.upload form .btn{
  border-radius: 30px;
  background: #0c3666;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 100px;
  height: 40px;
  margin-top: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
  cursor: pointer;
  margin-bottom: 20px;
}

.upload form .btn:hover{
  opacity: 0.7;
}
.file{
  margin-top: 30px;
}
.file label {
  margin-right: -40px;
  margin-left: 20px;
  vertical-align: middle;
  width: 100%;
}

.file input[type="file"] {
  width: 100%; /* adjust the width to your liking */
}

.mod-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: -50px;
}

.mod-container label {
  display: inline-block;
  width: 250px;
  text-align: left;
  margin-right: 10px;
  vertical-align: top;
}

.mod-container input {
  background: #eee;
  padding: 12px 15px;
  margin: 8px 0;
  width: 350px;
  box-sizing: border-box;
  border: 1px solid #aaa; /* add a default border */
}
.mod:focus {
  border: 1px solid #000; /* change the border color when the input is active */
}
.mod-container .mod-p {
  background: #eee;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100px;
  box-sizing: border-box;
  border: 1px solid #aaa; /* add a default border */
}
.mod:focus {
  border: 1px solid #000; /* change the border color when the input is active */
}
.mod-container .mod-d {
  background: #eee;
  padding: 12px 15px;
  margin: 8px 0;
  width: 250px;
  box-sizing: border-box;
  border: 1px solid #aaa; /* add a default border */
}
.mod:focus {
  border: 1px solid #000; /* change the border color when the input is active */
}

/*stream*/
.main-body{
  width: 100%;
  display: flex;
  align-items: flex-end; /* align items to the bottom */
  justify-content: center;
}

.body-section2 {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* align content to the bottom */
  align-items: flex-start; /* align items to the left */
  border: 2px solid #0c3666;
  border-radius: 10px;
  margin-top: 30px;
  padding: 20px; /* add padding to the left and right */
}

.module-card {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}
.module-card i {
  font-size: 20px;
  align-self: flex-start; /* align the i tag to the flex baseline */
  margin-right: 8px;
}

.module-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  margin-left: 30px;
  margin-top: -20px;
}

.module-description {
  font-size: 14px;
  margin-bottom: 16px;
}

.view-pdf-link {
  font-size: 14px;
  color: #0077cc;
  text-decoration: none;
  display: inline-block;
  margin-top: auto;
}

.view-pdf-link:hover {
  text-decoration: underline;
}

/*calendar*/
:root {
  --primary-clr: #0c3666;
}
/* nice scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-clr);
  border-radius: 50px;
}

.container {
  position: relative;
  width: 1000px;
  min-height: 850px;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  display: flex;
  border-radius: 10px;
  background-color: #373c4f;
  margin-top: -70px;
}
.left {
  width: 60%;
  padding: 20px;
}
.calendar {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #878895;
  border-radius: 5px;
  background-color: #fff;
}
/* set after behind the main element */
.calendar::before,
.calendar::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 97%;
  border-radius: 0 5px 5px 0;
  background-color: #d3d4d6d7;
  transform: translateY(-50%);
}
.calendar::before {
  height: 94%;
  left: calc(100% + 12px);
  background-color: rgb(153, 153, 153);
}
.calendar .month {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next {
  cursor: pointer;
}
.calendar .month .prev:hover,
.calendar .month .next:hover {
  color: var(--primary-clr);
}
.calendar .weekdays {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}
.weekdays div {
  width: 14.28%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar .days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 20px;
}
.calendar .days .day {
  width: 14.28%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-clr);
  border: 1px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n + 1) {
  border-left: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(7n) {
  border-right: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(-n + 7) {
  border-top: 2px solid #f5f5f5;
}
.calendar .days .day:nth-child(n + 29) {
  border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date {
  color: #b3b3b3;
}
.calendar .days .active {
  position: relative;
  font-size: 2rem;
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .days .active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today {
  font-size: 2rem;
}
.calendar .days .event {
  position: relative;
}
.calendar .days .event::after {
  content: "";
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 75%;
  height: 6px;
  border-radius: 30px;
  transform: translateX(-50%);
  background-color: var(--primary-clr);
}
.calendar .days .day:hover.event::after {
  background-color: #fff;
}
.calendar .days .active.event::after {
  background-color: #fff;
  bottom: 20%;
}
.calendar .days .active.event {
  padding-bottom: 10px;
}
.calendar .goto-today {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  padding: 0 20px;
  margin-bottom: 20px;
  color: var(--primary-clr);
}
.calendar .goto-today .goto {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input {
  width: 100%;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 20px;
  color: var(--primary-clr);
  border-radius: 5px;
}
.calendar .goto-today button {
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  color: var(--primary-clr);
}
.calendar .goto-today button:hover {
  color: #fff;
  background-color: var(--primary-clr);
}
.calendar .goto-today .goto button {
  border: none;
  border-left: 1px solid var(--primary-clr);
  border-radius: 0;
}
.container .right {
  position: relative;
  width: 40%;
  min-height: 100%;
  padding: 20px 0;
}

.right .today-date {
  width: 100%;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  padding-left: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.right .today-date .event-day {
  font-size: 2rem;
  font-weight: 500;
}
.right .today-date .event-date {
  font-size: 1rem;
  font-weight: 400;
  color: #878895;
}
.events {
  width: 100%;
  height: 100%;
  max-height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
}
.events .event {
  position: relative;
  width: 95%;
  min-height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 0 20px;
  padding-left: 50px;
  color: #fff;
  background: linear-gradient(90deg, #3f4458, transparent);
  cursor: pointer;
}
/* even event */
.events .event:nth-child(even) {
  background: transparent;
}
.events .event:hover {
  background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title {
  display: flex;
  align-items: center;
  pointer-events: none;
}
.events .event .title .event-title {
  font-size: 1rem;
  font-weight: 400;
  margin-left: 20px;
}
.events .event i {
  color: var(--primary-clr);
  font-size: 0.5rem;
}
.events .event:hover i {
  color: #fff;
}
.events .event .event-time {
  font-size: 0.8rem;
  font-weight: 400;
  color: #878895;
  margin-left: 15px;
  pointer-events: none;
}
.events .event:hover .event-time {
  color: #fff;
}
/* add tick in event after */
.events .event::after {
  content: "✓";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0.3;
  color: white;
  transform: translateY(-50%);
}
.events .event:hover::after {
  display: flex;
}
.add-event {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #878895;
  border: 2px solid #878895;
  opacity: 0.5;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.add-event:hover {
  opacity: 1;
}
.add-event i {
  pointer-events: none;
}
.events .no-event {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #878895;
}
.add-event-wrapper {
  position: absolute;
  bottom: 100px;
  left: 50%;
  width: 90%;
  max-height: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  transform: translateX(-50%);
  transition: max-height 0.5s ease;
}
.add-event-wrapper.active {
  max-height: 300px;
}
.add-event-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: #373c4f;
  border-bottom: 1px solid #f5f5f5;
}
.add-event-header .close {
  font-size: 1.5rem;
  cursor: pointer;
}
.add-event-header .close:hover {
  color: var(--primary-clr);
}
.add-event-header .title {
  font-size: 1.2rem;
  font-weight: 500;
}
.add-event-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
}
.add-event-body .add-event-input {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.add-event-body .add-event-input input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: 400;
  color: #373c4f;
}
.add-event-body .add-event-input input::placeholder {
  color: #a5a5a5;
}
.add-event-body .add-event-input input:focus {
  border-bottom: 1px solid var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder {
  color: var(--primary-clr);
}
.add-event-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.add-event-footer .add-event-btn {
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  outline: none;
  border: none;
  color: #fff;
  background-color: var(--primary-clr);
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid var(--primary-clr);
}
.add-event-footer .add-event-btn:hover {
  background-color: transparent;
  color: var(--primary-clr);
}

/* media queries */

@media screen and (max-width: 1000px) {
  body {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    min-height: 100vh;
    flex-direction: column;
    border-radius: 0;
  }
  .container .left {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .container .right {
    width: 100%;
    height: 100%;
    padding: 20px 0;
  }
  .calendar::before,
  .calendar::after {
    top: 100%;
    left: 50%;
    width: 97%;
    height: 12px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%);
  }
  .calendar::before {
    width: 94%;
    top: calc(100% + 12px);
  }
  .events {
    padding-bottom: 340px;
  }
  .add-event-wrapper {
    bottom: 100px;
  }
}
@media screen and (max-width: 500px) {
  .calendar .month {
    height: 75px;
  }
  .calendar .weekdays {
    height: 50px;
  }
  .calendar .days .day {
    height: 40px;
    font-size: 0.8rem;
  }
  .calendar .days .day.active,
  .calendar .days .day.today {
    font-size: 1rem;
  }
  .right .today-date {
    padding: 20px;
  }
}
